test1.rbci
test1.rbci.pickle
.DS_Store

mapper_test
mapper_test/*

rbc_primer_designer/MFEprimer/LightBio/*.pyc
primerdesign_outfile

*.vcf
*.vcf.*

*.rbci
*.rbci.*

*.MFEprimer.tmp

rbc_mapper/__pycache__/*
Information.log

error.log
primerdesign_outfile_test

utils/mfeprimer-3.1.5-darwin-10.6-amd64
utils/mfeprimer-3.1.5-linux-amd64
